<div class="clsdiv">
    <div class="mb-3">
        <label for="titleofreview" class="form-label">Title of your review</label>
        <input [(ngModel)]="review.reviewTitle" class="form-control" placeholder="enter title of review">
      </div>
      <p>Please rate the product</p>
      <ngb-rating [(rate)]="selected"></ngb-rating>
      <br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Feedback</label>
        <textarea [(ngModel)]="review.feedback" class="form-control" placeholder="enter description of review" rows="3"></textarea>
      </div>
    </div>
    <div class ="button">
    <button (click)="addreview()" mat-button color="primary" >Submit review</button>
    <button mat-button mat-dialog-close>Cancel</button>
    </div>