<mat-toolbar color="#ffffff">
    <span class="spacer"></span>

    <button mat-button routerLink="/companyStatsHome">Company Home</button>
    <button mat-button [matMenuTriggerFor]="bundleMenu">Bundle</button>
    <mat-menu #bundleMenu="matMenu">
        <button mat-menu-item routerLink="/add-bundle">Add Bundle</button>
        <button mat-menu-item routerLink="/viewAllBundles">View Bundles</button>
    </mat-menu>
    <a mat-button routerLink="/claims">All Claims</a>

    <mat-toolbar color="primary">
        <app-client-nav *ngIf="user?.role!=undefined && user?.role=='client'"></app-client-nav>
        <app-public-nav *ngIf="user?.role==undefined"></app-public-nav>

        <span class="spacer"></span>
        <div *ngIf="user?.role!=undefined">
            <button mat-icon-button>
                <mat-icon>notifications</mat-icon>
            </button>
            <mat-menu #notificationsMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Turn off notifications</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications</mat-icon>
                    <a *ngIf="user?.role!=undefined && user?.role=='client'" routerLink="/notification/clientView">View
                        notifications</a>
                    <a *ngIf="user?.role!=undefined && user?.role=='company'"
                        routerLink="/notification/companyview">View notifications</a>
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button mat-icon-button>
                <img src="../../assets/images/samples/favicon.png" alt="Profile">
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>My Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </div>

    </mat-toolbar>