.mat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #12BEC8;
    color: black;
}

.mat-toolbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.mat-toolbar button {
    color: black;
}

.mat-menu-content button {
    display: block;
    width: 100%;
    text-align: left;
}

.mat-menu-panel {
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}

.profile-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

img {
    max-height: 150px;
}

.notification a {
    text-decoration: none;
    color: black;
}