<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/companyStatsHome">Products</a>
            <a mat-list-item routerLink="/add-bundle">Add Bundle</a>
            <a mat-list-item routerLink="/viewAllBundles">View Bundles</a>
            <a mat-list-item routerLink="/claims">All Claims</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <app-client-nav *ngIf="user?.role!=undefined && user?.role=='client'"></app-client-nav>
            <app-public-nav *ngIf="user?.role==undefined"></app-public-nav>
            <!-- <mat-form-field class="search-field">
                <input matInput placeholder="Search">
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field> -->
            <span class="spacer"></span>
            <div *ngIf="user?.role!=undefined">
                <button mat-icon-button>
                    <mat-icon>notifications</mat-icon>
                </button>
                <mat-menu #notificationsMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Turn off notifications</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications</mat-icon>
                        <a *ngIf="user?.role!=undefined && user?.role=='client'"
                            routerLink="/notification/clientView">View notifications</a>
                        <a *ngIf="user?.role!=undefined && user?.role=='company'"
                            routerLink="/notification/companyview">View notifications</a>
                    </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <button mat-icon-button>
                    <img src="../../assets/images/samples/favicon.png" alt="Profile">
                </button>
                <mat-menu #profileMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="profileMenu">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>

        </mat-toolbar>
        <!-- <app-add-bundle></app-add-bundle> -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>