<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="company-accordion">
    <br/>
    <h1>Newly Registered Companies</h1>
    <h3>Below is a list of companies that have registered and are waiting for your decision: Approve or Reject.</h3>
    <br/>
  
    <mat-accordion class="example-headers-align" multi *ngFor ="let data of allCompanyData">
      <mat-expansion-panel *ngIf="data.isApproved==false && data.adminViewed==false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="data:image/png;base64, {{data.logo}}" alt="logo"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name}}
          </mat-panel-title>
          <mat-action-row> 
            <button mat-raised-button (click)="approveCompany(data)">Approve</button> <br/>
            <button mat-raised-button color="warn" (click)="rejectCompany(data)">Reject</button>
          </mat-action-row>
          <mat-panel-description>
            Registered: {{data.dateRegistered | date:'longDate'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/><br/>
          <div class="shadow p-3 mb-5 bg-white rounded text-center">{{data.description}}</div>
          <br/>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 15%"></th>
                <th scope="col" style="width: 85%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address
                </td>
                <td class="text-muted">{{data.address}}, {{data.city}} {{data.state}}, {{data.country}} {{data.postalCode}}</td>
              </tr>
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone
                </td>
                <td class="text-muted">{{parsePhone(data.contactDetails)}}</td>
              </tr> -->
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fax"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax
                </td>
                <td class="text-muted">{{parseFax(data.contactDetails)}}</td>
              </tr> -->
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website
                </td>
                <td class="text-muted">{{parseWebsite(data.contactDetails)}}</td>
              </tr> -->
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-id-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram
                </td>
                <td class="text-muted">{{parseInstagram(data.contactDetails)}}</td>
              </tr> -->
            </tbody>
          </table>
          <br/><br/>
      </mat-expansion-panel>
    </mat-accordion>
  
    <br/>
    <br/>
    <h1>Companies Approved</h1>
    <h3>Below is a list of companies that have been approved.</h3>
    <br/>
  
    <mat-accordion class="example-headers-align" multi *ngFor ="let data of allCompanyData">
      <mat-expansion-panel *ngIf="data.isApproved==true && data.adminViewed==true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="data:image/png;base64, {{data.logo}}" alt="logo"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name}}
          </mat-panel-title>
          <mat-action-row> 
            <button mat-raised-button color="warn" (click)="rejectCompany(data)">Disable</button>
          </mat-action-row>
          <mat-panel-description>
            Registered: {{data.dateRegistered | date:'longDate'}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Approved: {{data.dateApproved | date:'longDate'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/><br/>
          <div class="shadow p-3 mb-5 bg-white rounded text-center">{{data.description}}</div>
          <br/>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 15%"></th>
                <th scope="col" style="width: 85%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address
                </td>
                <td class="text-muted">{{data.address}}, {{data.city}} {{data.state}}, {{data.country}} {{data.postalCode}}</td>
              </tr>
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone
                </td>
                <td class="text-muted">{{parsePhone(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fax"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax
                </td>
                <td class="text-muted">{{parseFax(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website
                </td>
                <td class="text-muted">{{parseWebsite(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-id-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram
                </td>
                <td class="text-muted">{{parseInstagram(data.contactDetails)}}</td>
              </tr> -->
            </tbody>
          </table>
          <br/><br/>
      </mat-expansion-panel>
    </mat-accordion>
  
  
    <br/>
    <br/>
    <h1>Companies Rejected</h1>
    <h3>Below is a list of companies that have registered, but ultimately rejected.</h3>
    <br/>
  
    <mat-accordion class="example-headers-align" multi *ngFor ="let data of allCompanyData">
      <mat-expansion-panel *ngIf="data.isApproved==false && data.adminViewed==true && data.dateApproved==null">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="data:image/png;base64, {{data.logo}}" alt="logo"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name}}
          </mat-panel-title>
          <mat-action-row> 
            <button mat-raised-button (click)="approveCompany(data)">Accept</button>
          </mat-action-row>
          <mat-panel-description>
            Registered: {{data.dateRegistered | date:'longDate'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/><br/>
          <div class="shadow p-3 mb-5 bg-white rounded text-center">{{data.description}}</div>
          <br/>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 15%"></th>
                <th scope="col" style="width: 85%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address
                </td>
                <td class="text-muted">{{data.address}}, {{data.city}} {{data.state}}, {{data.country}} {{data.postalCode}}</td>
              </tr>
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone
                </td>
                <td class="text-muted">{{parsePhone(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fax"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax
                </td>
                <td class="text-muted">{{parseFax(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website
                </td>
                <td class="text-muted">{{parseWebsite(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-id-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram
                </td>
                <td class="text-muted">{{parseInstagram(data.contactDetails)}}</td>
              </tr> -->
            </tbody>
          </table>
          <br/><br/>
      </mat-expansion-panel>
    </mat-accordion>
  
  
    <br/>
    <br/>
    <h1>Banned Companies</h1>
    <h3>Below is a list of companies that have been approved in the past, but are now banned from selling products.</h3>
    <br/>
  
    <mat-accordion class="example-headers-align" multi *ngFor ="let data of allCompanyData">
      <mat-expansion-panel *ngIf="data.isApproved==false && data.adminViewed==true && data.dateApproved!=null">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="data:image/png;base64, {{data.logo}}" alt="logo"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name}}
          </mat-panel-title>
          <mat-action-row> 
            <button mat-raised-button (click)="approveCompany(data)">Re-Enable & Accept</button>
          </mat-action-row>
          <mat-panel-description>
            Registered: {{data.dateRegistered | date:'longDate'}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Last Approved: {{data.dateApproved | date:'longDate'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br/><br/>
          <div class="shadow p-3 mb-5 bg-white rounded text-center">{{data.description}}</div>
          <br/>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" style="width: 15%"></th>
                <th scope="col" style="width: 85%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address
                </td>
                <td class="text-muted">{{data.address}}, {{data.city}} {{data.state}}, {{data.country}} {{data.postalCode}}</td>
              </tr>
              <!-- <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone
                </td>
                <td class="text-muted">{{parsePhone(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fax"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax
                </td>
                <td class="text-muted">{{parseFax(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website
                </td>
                <td class="text-muted">{{parseWebsite(data.contactDetails)}}</td>
              </tr>
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-id-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instagram
                </td>
                <td class="text-muted">{{parseInstagram(data.contactDetails)}}</td>
              </tr> -->
            </tbody>
          </table>
          <br/><br/>
      </mat-expansion-panel>
    </mat-accordion>
  
    <br/>
    <br/>
  
</div>
  