<br/><br/>

<div class="admin-dashboard">
  <h1>Administrative Dashboard</h1>
  <br/>
  <div class="chart-container">
      <ul ngbNav #nav="ngbNav" class="nav-tabs" (shown)="navChangeEvent($event)" 
      (hidden)="navHiddenEvent($event)">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Company Registration Trends</a>
          <ng-template ngbNavContent>
            <canvasjs-chart
            *ngIf="showChart"
            [options]="lineChartOptions"
            (chartInstance)="getChartInstance($event)"
            [styles]="{ width: '100%', height: '450px' }"
            ></canvasjs-chart>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Company Performance</a>
          <ng-template ngbNavContent>
            <canvasjs-chart
            *ngIf="showChart"
            [options]="columnChartOptions"
            (chartInstance)="getChartInstance($event)"
            [styles]="{ width: '100%', height: '450px' }"
            ></canvasjs-chart>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Product Performance</a>
          <ng-template ngbNavContent>
            <canvasjs-chart
            *ngIf="showChart"
            [options]="pieChartOptions"
            (chartInstance)="getChartInstance($event)"
            [styles]="{ width: '100%', height: '450px' }"
            ></canvasjs-chart>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  <br/>
  <br/>
  <br/>

  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Recent <b>5 Star</b> Review</h3>
          <p class="card-text">Fastest claim processing ever! Upgrading my packages soon to no-sweat coverage level!</p>
          <p class="card-text" style="color: darkgrey; font-style: italic;"> - Albert Donald, client of ABC Company, March 29, 2023</p>
          <a class="btn btn-primary">View all reviews for <b>ABC Company</b></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Recent <b>0 Star</b> Review</h3>
          <p class="card-text">The worst coverage on the market, for the worst prices. Pick ANYWHERE ELSE but here.</p>
          <p class="card-text" style="color: darkgrey; font-style: italic;"> - Bernice Eager, client of General Store, March 15, 2023</p>
          <a class="btn btn-primary">View all reviews for <b>General Store</b></a>
        </div>
      </div>
    </div>
  </div>
</div>