<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Login/Register</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Login">
            <mat-card-content>
            <form #login="ngForm" (ngSubmit) = "userLogin(login.value)" ngNativeValidate>
                <mat-form-field>
                    <!-- <input matinput placeholder="Email" name="email" ngModel #email="ngModel" required> -->
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    >
                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    maxlength="12"
                    name="password"
                    ngModel
                    >
                    <mat-error
                      *ngIf="password.errors && password.errors['required']">
                      Password is required
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors['minlength']">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-form-field appearence="fill">
                    <mat-label>Role</mat-label>
                    <mat-select ngModel name="role" value="client" required>
                        <mat-option value="client">Client</mat-option>
                        <mat-option value="company">Company</mat-option>
                        <mat-option value="admin">Admin</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="role.errors && role.errors['required']">
                    Role is required
                  </mat-error>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                <!-- <mat-checkbox>Remember Me</mat-checkbox> -->
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  onsubmit="userLogin(login.value)">
                  Login
                </button>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Register">
          <mat-card-content>
            <form #register="ngForm" (ngSubmit) = "userRegister(register.value)" ngNativeValidate>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  maxlength="12"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors['required']">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors['minlength']">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              <!-- <mat-form-field>
                  <input
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors['required']">
                    Confirm Password is required
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field> -->
              <mat-form-field appearence="fill">
                <mat-label>Role</mat-label>
                <mat-select ngModel name="role" required #role="ngModel">
                    <mat-option></mat-option>
                    <mat-option value="client">Client</mat-option>
                    <mat-option value="company">Company</mat-option>
                </mat-select>
                <mat-error
                    *ngIf="role.errors && role.errors['required']">
                    Role is required
                  </mat-error>
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                onsubmit="userRegister(register.value)">
                Register
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">User Registration</h4>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
      <p class="list-group-item active">{{modalMessage}}</p>
        <ul class="list-group" >
            <li class="list-group-item"></li>
        </ul>
    </div>
</ng-template>