<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/images/NexGensurelogo.png" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-6">
            <br>
            <h2 class="heading">Contact Us</h2>
            <p class="mb-0" id="para">Contact us today to learn more about the insurance services and providers. Call us
                or visit us today!</p>
            <br>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Toronto</h5>
                        <p class="card-text">250 Yonge St., Toronto N5Y087</p>
                        <p class="card-text"><small class="text-muted">Phone number: 3455643522</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ottawa</h5>
                        <p class="card-text">45 King St., Ottawa H6T7T5</p>
                        <p class="card-text"><small class="text-muted">Phone number: 4567443522</small></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New York </h5>
                        <p class="card-text">234 Main St., New York 70030 </p>
                        <p class="card-text"><small class="text-muted">Phone number: 2338482822</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>