h2 {
    text-align: center;
    margin-top: 50px;
}

table {
    width: 80%;
}

.pp-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.search-area {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .pp-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-area {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .search-field {
        width: 100%;
        margin-bottom: 1em;
    }

    .radio-group {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1em;
    }

    .example-radio-button {
        margin-right: 1em;
    }
}