.addProductBtn{
    background-color: #12BEC8;
    margin: 0.8em;
    padding: 0.8em;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    outline: none;
    border:none;

  }

.addLocationBtn{
    background-color: white;
    margin: 0.8em;
    padding: 0.4em;
    border-radius: 5px;
    color: #12BEC8;
    font-size: 1.2em;
    font-weight: 500;
    outline: none;
    border: 1px solid #12BEC8;

}

.addLocationBtn_Container{
    display: flex;
    justify-content: center;

}

.fields{
    margin: 0.4em;
}