<div>
    <h2>Login</h2>
    <form #login="ngForm" (ngSubmit) = "userLogin(login.value)" ngNativeValidate>
        Email: <input type="text" name="email" ngModel required=""><br/><br/>
        Password: <input type="password" name="password" ngModel required=""><br/><br/>
        Role: 
        <select name="role" id="#" ngModel required="">
            <option selected="selected" value="client">Client</option>
            <option value="company">Company</option>
            <option value="admin">Admin</option>
        </select>
        <br/><br/>
        <input type="submit" value="Login"/>
    </form>
</div>