.container {
    padding: 20px;
  }

  .bundle-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .bundle-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .bundle-card-header {
    background-color: #3f51b5;
    color: white;
    padding: 10px;
  }
  
  .bundle-card-actions {
    background-color: lightgray;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  button {
    width: 100px;
  }

  .addProductBtn{
    background-color: #12BEC8;
    margin: 0.8em;
    padding: 0.8em;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    font-weight: 500;
    outline: none;
    border:none;

  }