<section class="product-detail">
    <form [formGroup]="locationform" (ngSubmit)="addToAccount()">
    <mat-card style="text-align:center; border: 1px solid #12BEC8; border-radius: 8px;">
        <mat-card-content align="center" style="font-size: 16px;"><b>{{product.name}}</b></mat-card-content>
        <mat-card-content align="center">{{product.category}}</mat-card-content>
        
        <div class="image-wrapper">
            <img src="{{product.picture}}" alt={{product.name}}/>          
        </div>
        <mat-card-content align="center">{{product.description}}</mat-card-content>
        <mat-card-content style="margin-top:20px;">
          <mat-form-field appearance="fill">
            <mat-label>Choose A Location</mat-label>
            <mat-select name = "selected_location" formControlName="sLocation" [(value)]="selected" required>
              <mat-option *ngFor="let location of product.locations" [value]="location.locationName">
                {{location.locationName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="selected!='None'" style="margin-left: 0.8em">
            <mat-label>Price</mat-label>
            <span *ngFor="let location of product.locations">
                <input *ngIf="location.locationName==selected" matInput value={{location.locationPrice}} readonly="true">
            </span>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content align="center" style="margin-bottom:20px">
            <button [disabled]="locationform.invalid"  mat-raised-button color="primary" type="submit">Add To Account</button>
            <a [routerLink]="['/my-plans']" style="margin-left: 20px;"><button mat-raised-button color="warn" >To My Plans</button></a>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </form>

</section>
