.product-detail{
    width: 60%;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
}

.mat-card{
    text-align: center;

}

.mat-card-header{
    text-align: center;

}

img{
    max-width: 50%;
}