.product-detail{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.mat-card{
    text-align: center;

}

.mat-card-header{
    text-align: center;

}

.image-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

img{
    width: 500px;
    height: 300px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

a{
    text-decoration: none;
}