<div class="container">
    <h2>Add Bundle</h2>
    <form class="form-group" [formGroup]="bundleForm" (ngSubmit)="createBundle()" fxLayout="column"
        fxLayoutAlign="start stretch" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <mat-label>Bundle Name</mat-label>
            <input matInput formControlName="bundlename" placeholder="Enter bundle name">
            <mat-error
                *ngIf="bundleForm.get('bundlename')?.invalid && (bundleForm.get('bundlename')?.dirty || bundleForm.get('bundlename')?.touched)">
                Please enter a valid bundle name
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Product IDs</mat-label>
            <mat-select formControlName="productids" placeholder="Select product IDs" multiple>
                <mat-option *ngFor="let productId of productIds" [value]="productId">
                    {{ productId }}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="bundleForm.get('productids')?.invalid && (bundleForm.get('productids')?.dirty || bundleForm.get('productids')?.touched)">
                Please select valid product IDs
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Total Price</mat-label>
            <input matInput formControlName="totalPrice" placeholder="Enter total price">
            <mat-error
                *ngIf="bundleForm.get('totalPrice')?.invalid && (bundleForm.get('totalPrice')?.dirty || bundleForm.get('totalPrice')?.touched)">
                Please enter a valid total price
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" placeholder="Enter location">
            <mat-error
                *ngIf="bundleForm.get('location')?.invalid && (bundleForm.get('location')?.dirty || bundleForm.get('location')?.touched)">
                Please enter a valid location
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Company ID</mat-label>
            <input matInput formControlName="companyid" placeholder="Enter company ID">
            <mat-error
                *ngIf="bundleForm.get('companyid')?.invalid && (bundleForm.get('companyid')?.dirty || bundleForm.get('companyid')?.touched)">
                Please enter a valid company ID
            </mat-error>
        </mat-form-field> -->

        <div fxLayout="row" fxLayoutAlign="end">
            <button type="submit" mat-raised-button color="primary" [disabled]="!bundleForm.valid">Create
                Bundle</button>
        </div>
    </form>
</div>