<h1 mat-dialog-title>View Review</h1>
<div mat-dialog-content class="clsdiv">
  <!-- <form [formGroup]="reviewForm">

    <mat-form-field>
      <h4>Review Title</h4>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
      <h4>Review Description</h4>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput formControlName="rating" placeholder="Rating" />
    </mat-form-field>

  </form> -->
  <!-- <ngb-rating [rate]="currentRate" [readonly]="true"></ngb-rating> -->
  <ngb-rating [rate]="currentRate" [readonly]="true" [max]=5>
    <ng-template let-fill="fill" >
      <i class="bi-star{{fill === 100 ? '-fill' : ''}}" [class.filled]="fill === 100" ></i>
    </ng-template>
  </ngb-rating>
  <h3>{{title}}</h3>
  <div>created at: {{date}}</div> 
  <div class="content">
    {{description}}
  </div>

  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>