<div class="link-wrapper">
    <!-- <a routerLink="/" class="logo-link">
        <img src="../../../assets/images/NexGensurelogo_transparent.png" alt="Logo">
    </a> -->
    <span class="spacer"></span>
    <a routerLink="/register" routerLinkActive="active">Home</a>
    <a routerLink="/register" routerLinkActive="active">About Us</a>
    <a routerLink="/register" routerLinkActive="active">Contact Us</a>
    <a routerLink="/register" routerLinkActive="active">Register/Login</a>
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
</div>