.bundle-detail{
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: flex;
    justify-content:center;
    width: 100%;
}
h3{
    text-align: center;
}
.product-card{
    width: 300px;
}

.product-card{
    margin-left:30px;
}
.title{
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
}

.buttons{
    margin-top: 20px;
    text-align: center;
}

a{
    text-decoration: none;
}