<!-- 
<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field class="search-field">
        <input matInput placeholder="Search">
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notificationsMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Turn off notifications</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span>View notifications</span>
        </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <img src="../../assets/images/samples/1280x768/1.jpg" alt="Profile" />
    </button>
</mat-toolbar> -->