<div class="container-fluid">
    <!-- Slider -->

    <div class="banner">
        <div class="banner-image">
            <img src="../../assets/images/carousel/banner-img-3.png" alt="Banner Image">
        </div>

    </div>

    <!-- Cards -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Auto Insurance</mat-card-title>
                        <mat-card-subtitle>Category 1</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/carousel/autoinsurance.jpg" alt="Placeholder Image">
                    <mat-card-content>
                        Protect yourself and your vehicle with comprehensive auto insurance coverage.
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Learn More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>

                        <mat-card-title>Home Insurance</mat-card-title>
                        <mat-card-subtitle>Category 2</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/carousel/homeinsurance.jpg" alt="Placeholder Image">
                    <mat-card-content>
                        Protect your biggest investment and secure your peace of mind with reliable home insurance coverage
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Learn More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>

                        <mat-card-title>Life Insurance</mat-card-title>
                        <mat-card-subtitle>Category 3</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/carousel/lifeinsurance.jpg" alt="Placeholder Image">
                    <mat-card-content>
                        Ensure the financial security of your loved ones with life insurance coverage tailored to your unique needs.
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Learn More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>