
.pp-product-card{
    
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


.auto{
    background: rgba(51, 170, 51, .3);
}

.house{
    background-color: rgba(167, 165, 235, .3);
}

.life{
    background-color: #BEFCFF;
}


.text-wrapper{
    width: fit-content;
}
.pp-title{
    font-size: larger;
    font-weight: bold;
}

.pp-description{
    margin-top: 20px;
}

.button-wrapper{
    width:100px;
}

.review-wrapper{
    width: 400px;
}

i {
    font-size: 0.8rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    /* color: #87ff1e; */
    color: #802d09;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}

@media only screen and (max-width: 600px) {
    .pp-product-card{
        text-align: center;
    }
    .text-wrapper{
        width: fit-content;
    }
    img{
        width:200px;
        height: 100px;
    }
    .image-wrapper{
        width:100%;
        margin-top: 20px;;
    }

    .pp-description{
        margin-top: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media only screen and (min-width: 601px) {
    .pp-title{
        
        margin-top: 20px;
    }
    .image-wrapper{
        width:200px;
        height: 100px;
    }
    img{
        width:200px;
        height: 100px;
    }
    .pp-description{
        margin-top: 20px;
    }
    .text-wrapper{
        width: fit-content;
        margin-left: 20px;
    }
    .button-wrapper{
        width:100px;
        margin-top: 50px;
        ;
    }
}