<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/homepage/NexGensurelogo.png" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-6">
            <br><br><br><br>
            <h2 class="heading">About Us</h2>
            <p class="lead">NexgenSure is a one-stop-shop for your insurance needs. We provide a platform to compare the
                products offered by different companies.</p>
            <p>You can now make an informed decision before buying an insurance. You can avoid overpaying for an
                insurance and being underinsured</p>
            <p>We have partnered with the best players in the insurance industry to provide you with the best products
                that the industry can offer.</p>
            <p class="mb-0">Contact us today to learn more about the insurance services and providers.</p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card custom-card card-pop-out text-white text-center">
                    <div class="card-body">
                        <h3 class="card-title">10,000+</h3>
                        <p class="card-text">Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card custom-card card-pop-out text-white text-center">
                    <div class="card-body">
                        <h3 class="card-title">50,000+</h3>
                        <p class="card-text">Products</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card custom-card card-pop-out text-white text-center">
                    <div class="card-body">
                        <h3 class="card-title">5,000+</h3>
                        <p class="card-text">Claims</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card custom-card card-pop-out text-white text-center">
                    <div class="card-body">
                        <h3 class="card-title">100+</h3>
                        <p class="card-text">Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card testimonial-card see-more ">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">"I have been a customer for years and I am extremely satisfied with the level
                        of service I receive from this insurance app. The claims process is seamless and the customer
                        support is excellent."</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card testimonial-card">
                <div class="card-body">
                    <h5 class="card-title">Jane Smith</h5>
                    <p class="card-text">"I highly recommend this insurance app to anyone looking for reliable and
                        affordable insurance coverage. The app is user-friendly and the policies offered are
                        comprehensive and affordable."</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card testimonial-card">
                <div class="card-body">
                    <h5 class="card-title">Mike Johnson</h5>
                    <p class="card-text">"I had a great experience using this insurance app. The app's features are easy
                        to use and the policies are competitively priced. I feel confident knowing that my loved ones
                        are protected with their insurance plans."</p>
                </div>
            </div>
        </div>
    </div>
</div>