<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="../../assets/images/NexGensurelogo.png" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h2 class="mat-h2 mb-4">About Us</h2>
            <p class="mat-body-1 mb-4">NexgenSure is a one-stop-shop for your insurance needs. We provide a platform to
                compare the products offered by different companies.</p>
            <p class="mat-body-1 mb-4">You can now make an informed decision before buying an insurance. You can avoid
                overpaying for an insurance and being underinsured</p>
            <p class="mat-body-1 mb-4">We have partnered with the best players in the insurance industry to provide you
                with the best products that the industry can offer.</p>
            <button mat-raised-button color="primary">Contact Us</button>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center">
                <mat-card class="custom-card card-pop-out">
                    <mat-card-content>
                        <h3 class="mat-h3">10,000+</h3>
                        <p class="mat-body-2">Clients</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <mat-card class="custom-card card-pop-out">
                    <mat-card-content>
                        <h3 class="mat-h3">50,000+</h3>
                        <p class="mat-body-2">Products</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <mat-card class="custom-card card-pop-out">
                    <mat-card-content>
                        <h3 class="mat-h3">5,000+</h3>
                        <p class="mat-body-2">Claims</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3 d-flex justify-content-center">
                <mat-card class="custom-card card-pop-out">
                    <mat-card-content>
                        <h3 class="mat-h3">100+</h3>
                        <p class="mat-body-2">Awards</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 d-flex justify-content-center">
            <mat-card class="testimonial-card">
                <mat-card-content>
                    <h5 class="mat-h5 mb-3">John Doe</h5>
                    <p class="mat-body-2">"I have been a customer for years and I am extremely satisfied with the level
                        of service I receive from this insurance app. The claims process is seamless and the customer
                        support is excellent."</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <mat-card class="testimonial-card">
                <mat-card-content>
                    <h5 class="mat-h5 mb-3">Mike Johnson</h5>
                    <p class="mat-body-2">"I had a great experience using this insurance app. The app's features are
                        easy to use and the policies are competitively
                        priced. I feel confident knowing that my loved ones are protected with their insurance plans."
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <mat-card class="testimonial-card">
                <mat-card-content>
                    <h5 class="mat-h5 mb-3">Jane Smith</h5>
                    <p class="mat-body-2">"I highly recommend this insurance app to anyone looking for reliable and
                        affordable insurance coverage. The app is
                        user-friendly and the policies offered are comprehensive and affordable."
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>