<h1 mat-dialog-title>Update Product</h1>
<div mat-dialog-content>
  <form [formGroup]="updateProductForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
      <mat-error *ngIf="updateProductForm.get('name')!.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Category</mat-label>
      <input matInput formControlName="category" placeholder="Category">
      <mat-error *ngIf="updateProductForm.get('category')!.hasError('required')">Category is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
      <mat-error *ngIf="updateProductForm.get('description')!.hasError('required')">Description is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Price</mat-label>
      <input matInput formControlName="price" placeholder="Price">
      <mat-error *ngIf="updateProductForm.get('price')!.hasError('required')">Price is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Picture</mat-label>
      <input matInput formControlName="picture" placeholder="Picture URL">
      <mat-error *ngIf="updateProductForm.get('picture')!.hasError('required')">Picture URL is required</mat-error>
    </mat-form-field>

    <!-- Add a checkbox to update product availability -->
    <mat-checkbox formControlName="available">Availability</mat-checkbox>


    <div formArrayName="locations">

      <mat-card mat-elevation="3">
        <mat-card-title style="text-align: center; margin: 1em;">Product Availability By Location</mat-card-title>
        <mat-card-content>
          <div *ngFor="let location of locations.controls; let i = index">
            <div [formGroupName]="i" style="display: flex; flex-direction: row; align-items: center; margin-bottom: 10px;">
              <mat-form-field style="flex-grow: 1; margin-right: 10px;">
                <mat-label>Location Name</mat-label>
                <input matInput formControlName="locationName" placeholder="Location Name">
                <mat-error *ngIf="location.get('locationName')!.hasError('required')">Location Name is required</mat-error>
              </mat-form-field>
      
              <mat-form-field style="flex-grow: 1; margin-right: 10px;">
                <mat-label>Product Price</mat-label>
                <input matInput formControlName="locationPrice" placeholder="Product Price">
                <mat-error *ngIf="location.get('locationPrice')!.hasError('required')">Location Price is required</mat-error>
              </mat-form-field>
      
              <mat-icon color="warn" (click)="removeLocation(i)">delete</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      
      
      

      <button mat-raised-button color="primary" type="button" (click)="addLocation()">Add Location</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="update()" [disabled]="!updateProductForm.valid">Update</button>
</div>
