<!-- search bundle by name and id -->
<mat-form-field class="search-field">
    <mat-label>Search for bundle</mat-label>
    <input matInput [(ngModel)]="searchText" (ngModelChange)="searchTextChange($event)">
    <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
    </button>
</mat-form-field>

<!-- <input matInput placeholder="Search for bundle" [(ngModel)]="searchText"> -->

<!-- update bundle -->
<div class="container">
    <form *ngIf="selectedBundle && isUpdateFormOpen"
        (ngSubmit)="updateBundle(selectedBundle!.bundleid, selectedBundle)">
        <div class="form-group">
            <label for="bundleid">Bundle ID</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.bundleid" name="bundleid">
        </div>
        <div class="form-group">
            <label for="bundlename">Bundle Name</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.bundlename"
                name="bundlename">
        </div>
        <div class="form-group">
            <label for="productids">Product IDs</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.productids"
                name="productids">
        </div>
        <div class="form-group">
            <label for="price">Total Price</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.totalPrice"
                name="totalPrice">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.location" name="location">
        </div>
        <div class="form-group">
            <label for="companyid">Company ID</label>
            <input type="text" class="form-control" id="bundle" [(ngModel)]="selectedBundle.companyid" name="companyid">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary"
            (click)="updateForm.reset(); selectedBundle = null; isUpdateFormOpen = false;">Cancel</button>
    </form>
</div>

<!-- view all bundles -->
<table mat-table [dataSource]="obs|async " class="mat-elevation-z8">
    <ng-container matColumnDef="bundleid">
        <th mat-header-cell *matHeaderCellDef> Bundle ID </th>
        <td mat-cell *matCellDef="let bundle">
            <a [routerLink]="['/bundles', bundle.bundleid]">{{bundle.bundleid}}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="bundlename">
        <th mat-header-cell *matHeaderCellDef> Bundle Name </th>
        <td mat-cell *matCellDef="let bundle"> {{bundle.bundlename}} </td>
    </ng-container>
    <ng-container matColumnDef="productids">
        <th mat-header-cell *matHeaderCellDef> Product IDs </th>
        <td mat-cell *matCellDef="let bundle"> {{bundle.productids}} </td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Total Price </th>
        <td mat-cell *matCellDef="let bundle"> {{bundle.totalPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let bundle"> {{bundle.location}} </td>
    </ng-container>
    <ng-container matColumnDef="companyid">
        <th mat-header-cell *matHeaderCellDef> Company ID </th>
        <td mat-cell *matCellDef="let bundle"> {{bundle.companyid}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let bundle">
            <button mat-icon-button color="primary" (click)="editBundle(bundle)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteBundle(bundle.bundleid)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row
        *matHeaderRowDef="['bundleid', 'bundlename', 'productids', 'totalPrice', 'location', 'companyid', 'actions']">
    </tr>
    <tr mat-row
        *matRowDef="let bundle; columns: ['bundleid', 'bundlename', 'productids', 'totalPrice', 'location', 'companyid', 'actions'];">
    </tr>
</table>

<div class="container">
    <mat-paginator
              [pageSize]="2"></mat-paginator>
  </div>
<!-- pagination -->