  <div class="form-outer">
    <div class="form-middle">
      <h2 class="form-title">Create a Claim</h2>
      <form [formGroup]="claimForm" (ngSubmit)="onSubmit()" class="claim-form">

        <!-- <mat-form-field class="form-field">
            <h4>Customer ID:</h4>
            <input matInput placeholder="Customer ID" formControlName="customerId">
            <mat-error *ngIf="claimForm.get('customerId')?.hasError('required')">Customer ID is required</mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field class="form-field">
            <h4>Product ID:</h4>
            <input matInput placeholder="Product ID" formControlName="productId">
            <mat-error *ngIf="claimForm.get('productId')?.hasError('required')">Product ID is required</mat-error>
        </mat-form-field> -->
  
        <mat-form-field class="form-field">
            <h4>Product:</h4>
            <input matInput placeholder="Product Name" formControlName="productName">
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <h4>Description:</h4>
            <textarea matInput placeholder="Enter description of claim here" formControlName="description"></textarea>
            <mat-error *ngIf="claimForm.get('description')?.hasError('required')">Description is required</mat-error>
        </mat-form-field>
   
        <mat-form-field class="form-field">
            <h4>Notes:</h4>
            <textarea matInput placeholder="Write additional notes here" formControlName="notes"></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" class="submit-button">Create Claim</button>  
      </form>
      <button class="cancelbutton" mat-raised-button color="warn" (click)="back()">Cancel</button>
    </div>
  </div>
  
  
  
  
  
  
  
  