<div class="container py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <br/><br/>
                    <img src="../../../../assets/images/faces/client-profile.jpg" alt="client profile"/>
                    <br/><br/>
                    <hr>
                    <br/>
                    <div class="d-flex justify-content-center mb-2">
                        <button type="button" class="btn btn-outline-info ms-1" (click)="onButtonClickUpdate()">Update Profile</button>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <mat-icon>person</mat-icon>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0">Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{client.clientName}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-1">
                            <mat-icon>public</mat-icon>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{client.location}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-1">
                            <mat-icon>email</mat-icon>
                        </div>
                        <div class="col-sm-2">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{client.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>