<app-navigation></app-navigation>

<br/>
<h1>Companies Registered & Unapproved</h1>
<br/>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          East Coast Best Auto Insurance
        </mat-panel-title>
        <mat-action-row> 
            <button mat-raised-button color="warn">Reject</button>
        </mat-action-row>
        <mat-panel-description>
          Registered: Sept. 1, 2023, 3:04:56 AM MST
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>We are Halifax's premier auto insurance providers! A quote within 24 hours guaranteed.</p>
        <br/>
        <h3>Contact Details</h3>
        <ul>
            <li>Email: example@gmail.com</li>
            <li>Phone Number: 1-567-890-1234</li>
        </ul>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Junk Yard Car Crashes
          </mat-panel-title>
          <mat-action-row>
            <button mat-raised-button color="warn">Reject</button>
        </mat-action-row>
          <mat-panel-description>
            Registered: Oct.4, 2018, 6:05:23 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We provide rates unmatched by any other company!</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alberta Insurance
          </mat-panel-title>
          <mat-action-row>
            <button mat-raised-button color="warn">Reject</button>
        </mat-action-row>
          <mat-panel-description>
            Registered: Oct. 5, 2022, 11:18:55 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We are Alberta farmer's favourite insurance folks.</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Store Insurance
          </mat-panel-title>
          <mat-action-row>
            <button mat-raised-button color="warn">Reject</button>
        </mat-action-row>
          <mat-panel-description>
            Registered: Jan. 31, 2025, 6:18:56 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We provide decent insurance for decent people.</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>
  </mat-accordion>

<br/>
  <br/>
<h1>Companies Approved</h1>
<br/>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          East Coast Best Auto Insurance
        </mat-panel-title>
        <mat-panel-description>
          Registered: Sept. 1, 2023, 3:04:56 AM MST
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>We are Halifax's premier auto insurance providers! A quote within 24 hours guaranteed.</p>
    <br/>
    <h3>Contact Details</h3>
    <ul>
        <li>Email: example@gmail.com</li>
        <li>Phone Number: 1-567-890-1234</li>
    </ul>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Junk Yard Car Crashes
          </mat-panel-title>
          <mat-panel-description>
            Registered: Oct.4, 2018, 6:05:23 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We provide rates unmatched by any other company!</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>
  
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Alberta Insurance
          </mat-panel-title>
          <mat-panel-description>
            Registered: Oct. 5, 2022, 11:18:55 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We are Alberta farmer's favourite insurance folks.</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Store Insurance
          </mat-panel-title>
          <mat-panel-description>
            Registered: Jan. 31, 2025, 6:18:56 PM MST
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <p>We provide decent insurance for decent people.</p>
      <br/>
      <h3>Contact Details</h3>
      <ul>
          <li>Email: example@gmail.com</li>
          <li>Phone Number: 1-567-890-1234</li>
      </ul>
      </mat-expansion-panel>
  </mat-accordion>
  